.section-heading {
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 70px;
}
.section-heading b {
  font-weight: 700;
  position: relative;
  line-height: 45px;
  display: inline-block;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.curriculum {
  padding: 80px 0;
  background: #f7fafe;
  border-radius: 10px;
}
 .nav-tabs {
  border-bottom: 0;
  justify-content: center;
  margin-bottom: 25px;
}
.nav-item {
  margin-bottom: 0;
  margin-right: 90px;
  width: 106px;
}
.nav-item {
  margin-bottom: -1px;
}
.curriculum .nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
 .nav-link {
  padding: 0;
  border: 0 none;
  background: transparent;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #111111;
  position: relative;
  height: 50px;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.active {
  color: #766bf9;
}
.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
 .progress {
  height: 5px;
  background: transparent;
  position: relative;
  border-radius: 55px;
  overflow: visible;
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.progress-bar {

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}
.progress:before {
  content: "";
  height: 1px;
  background: #7368f9;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
}
 .progress-bar {
  background: linear-gradient(90deg, #cfcbfb 0.59%, #7368f9 100%);
  border-radius: 55px;
  z-index: 1;
  position: relative;
  overflow: visible;
  width: 8.76666%;
}
 .progress-bar:before {
  content: "";
  position: absolute;
  right: 0;
  width: 14px;
  height: 14px;
  background: #766bf9;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.tab-content {
  margin: 54px 50px;
}
.active {
  display: block;
}
.tab-pane {
  background: #ffffff;
  box-shadow: 0px 0px 18px rgba(24, 39, 75, 0.1);
  padding: 40px;
  border-radius: 10px;
}


#module-2,#module-3,#module-4,#module-5,#module-6{
  display: none;
}

.curriculum-content-summary {
  position: relative;
}
.module-badge {
  background: #f7f7f7;
  border: 0.6px solid #d9d9d9;
  border-radius: 50px;
  display: inline-block;
  padding: 9px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  color: #111111;
}
.curi-title {
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.curi-title h3 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: #111111;
}
.curi-title span {
  display: inline-flex;
  padding: 5px 10px;
  background: #cffddb;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #52855f;
  margin-left: 15px;
}
.curriculum-content-summary p {
  margin-top: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.topics-covered {
  margin-top: 40px;
}
.topics-covered h4 {
  position: relative;
}
.topics-covered h4:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background: #d9d9d9;
}
.topics-covered h4 span {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  background: #ffffff;
  padding-right: 13px;
  position: relative;
}
.topics-covered ul {
  margin-top: 32px;
}
.topics-covered ul li {
  position: relative;
  padding-left: 31px;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.topics-covered ul li:last-child {
  margin-bottom: 0;
}
.topics-covered ul li:before {
  content: "";
  background-image: url("../../images/icon-sprite.svg");
  position: absolute;
  left: 0;
  background-position: -598px -244px;
  width: 14px;
  height: 11px;
  top: 3px;
}
.curi-btn {
  padding-top: 21px;
}
.curi-btn .btn-default {
  padding-left: 15px;
  padding-right: 15px;
}