@import url("../../swiper.min.css");
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .section-heading {
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 70px;
  }
  .section-heading b {
    font-weight: 700;
    position: relative;
    line-height: 45px;
    display: inline-block;
  }

  .text-center {
    text-align: center !important;
  }

.projects {
    padding: 80px 0;
    background: #ffffff;
  }
  .section-heading {
    max-width: 446px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .project-thumb {
    height: 476px;
    background: #f7fafe;
    border: 1px solid #eef1ff;
    border-radius: 12px;
    padding: 45px 40px 40px;
    margin-bottom: 58px;
    margin-top: 70px;
  }
  .project-thumb img {
    height: 60px;
    width: 60px;
  }
  .proj-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #111111;
  }
  .proj-name {
    font-size: 30px;
    line-height: 33px;
    height: 33px;
    overflow: hidden;
    color: #111111;
    margin-top: 45px;
    font-weight: 500;
  }
  .project-thumb p {
    font-size: 14px;
    line-height: 25px;
    color: #666666;
    height: 100px;
    overflow: hidden;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .project-thumb ul li {
    height: 25px;
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    padding: 0 16px;
    font-size: 12px;
    line-height: 25px;
    color: #666666;
    font-weight: 400;
    background: #ffffff;
    border-radius: 139px;
    margin-top: 10px;
  }

   .swiper-button-next {
    outline: none;
    background: url("../../images/icon-sprite.svg") no-repeat -797px -230px;
    position: absolute;
    width: 46px;
    height: 40px;
    margin: 0;
    right: 0px;
    top: 15px;
    transform: none;
  }
   .swiper-button-next::after {
    content: "";
  }
   .swiper-button-prev {
    outline: none;
    background: url("../../images/icon-sprite.svg") no-repeat -691px -230px;
    position: absolute;
    width: 46px;
    height: 40px;
    margin: 0;
    right: 66px;
    top: 15px;
    transform: none;
    left: auto;
  }
  .swiper-button-prev::after {
    content: "";
  }

  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .swiper-pagination-bullet {
    width: 17px;
    height: 8px;
    background: #ffffff;
    opacity: 1;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
 

